.demo{
    height: 100vh;
}
.btn-auth-custom{
    padding: .75rem;
    font-weight: 700;
    font-size: 14px;
}

.fw-700{
    font-weight: 700;
}

.fs-14{
    font-size: 14px;
}

.custom-input{
    padding: .9rem;
    font-style: italic;
    font-weight:lighter;
    font-size: 14px;
    color: #5c5c5c;
    background: #ededed;
}

.custom-input::placeholder {
    color: #5c5c5c;
    font-weight:lighter;
}

.custom-input:focus {
    border: 1px solid #d3d3d3;
    background: #fff;
}
