<!-- Login 1 - Bootstrap Brain Component -->
<div class="bg-light py-3 py-md-5 demo">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
          <div class="bg-white p-4 p-md-5 rounded shadow-sm">
            <div class="row">
              <div class="col-12">
                <div class="text-center mb-5">
                    <h4 class="fw-700">HỆ THỐNG QUẢN LÝ CỬA HÀNG MỲ CAY SASIN</h4>
                </div>
                <div class="text-center mb-4">
                  <h5 class="fw-700 text-danger">ĐĂNG NHẬP</h5>
                </div>
              </div>
            </div>
            <form action="#!">
              <div class="row gy-3 gy-md-4 overflow-hidden">
                <div class="col-12">
                  <div class="input-group">
                    <input type="text" class="form-control shadow-none rounded-0 custom-input" name="loginname" id="loginname" placeholder="Vui lòng nhập tên đăng nhập">
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-group">
                    <input type="password" class="form-control shadow-none rounded-0 custom-input" name="password" id="password" placeholder="Vui lòng nhập mật khẩu">
                  </div>
                </div>
                <div class="col-12">
                    <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row fs-14">
                        <span>
                            This site is protected by reCAPTCHA and the Google
                            <a href="https://policies.google.com/privacy" class="text-decoration-none">Privacy Policy</a> and
                            <a href="https://policies.google.com/terms" class="text-decoration-none">Terms of Service</a> apply.
                        </span>                              
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-grid">
                            <button class="btn btn-danger btn-lg btn-auth-custom" type="submit">ĐĂNG NHẬP</button>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row fs-14">
                                <span>
                                    Bạn quên mật khẩu? 
                                    <a href="#!" class="link-secondary text-decoration-none">Quên mật khẩu?</a>
                                </span>                              
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>      
    </div>
  </div>
